<h1>{{ produto.nome }}</h1>
<p>{{ produto.descricao }}</p>
<p>Categoria: {{ produto.categoria.nome }}</p>
<p>Material: {{ produto.get_material_display }}</p>
<p>Preço: R$ {{ produto.preco }}</p>
<p>Estoque: {{ produto.estoque }}</p>

{% if perms.produtos.change_produto %}
    <a href="{% url 'produto_update' produto.pk %}">Editar</a> |
{% endif %}
{% if perms.produtos.delete_produto %}
    <a href="{% url 'produto_delete' produto.pk %}">Excluir</a> |
{% endif %}
<a href="{% url 'produto_list' %}">Voltar</a>
{% endblock %}